<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= comment.created_at.strftime('%B %e, %Y') %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Usuário: Karine</h6>
    <p class="card-text"><%= comment.body %></p>
  </div>
</div>