<%= simple_form_for @category do |f| %>
  <%= f.input :name %>

  <br>

  <div>
    <%= link_to 'Voltar', categories_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>