<%= simple_form_for @category do |f| %>
  <%= f.input :name %>

  <br>

  <div>
    <%= link_to t('app.button.back'), categories_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>